@font-face{/*Auto einai gia to custom font family.*/
  font-family:'OpenSans';/*custom grammatoseira*/
  src:url(fonts/OpenSans-B9K8.ttf);
}

/*body*/

/*grid*/
.classGrid{
 border-radius: 10px;/*Stroggulopoiei to border*/
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*responsive*/
 gap: 20px;/*gap between them and its equal*/
 max-width: 1000px;  /*makes grid smaller */
 margin: 40px auto;  /*centers grid */

}

.classProduct {
  border: 2px solid #b3b2b2;
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-family:'OpenSans';/*custom grammatoseira*/
  text-align: center;
}

.classImage {
    width: 100%;
    height: 180px;
    object-fit: contain;/*forces all images to be the same size*/
    display:block;
    margin:auto;
}

.classPrice {
  font-size: 20px;
  font-weight: bold;
  display:block;
  text-align: right;
}

.classProduct h2 {
  font-size: 18px;
}

.classProduct p  {
  font-size: 14px;
}

h1{
  font-family:'OpenSans';/*custom grammatoseira*/
}

a{color:rgb(94, 90, 90);}

a:hover{
  color:black;
}

/*Κινητα responsive εως 620px. 1 row*/
@media (max-width: 620px) {

  h1{font-size:20px;}

  p{font-size:12px;}

  .classGrid {
    max-width: 90%;
    gap: 12px;
  }

  .classImage {
    height: 140px;
  }

  .classProduct h2 {
    font-size: 15px;
  }

  .classProduct p {
    font-size: 12px;
  }

  .classPrice {
    font-size: 16px;
  }
}

/*Tablet 621px-1000px , 2 rows*/
@media (min-width: 621px) and (max-width: 1000px) {

  h1{font-size:24px;}

  p{font-size:15px;}

  .classGrid {
    max-width: 90%;
    gap: 14px;
  }

  .classImage {
    height: 160px;
  }

  .classProduct h2 {
    font-size: 16px;
  }

  .classPrice {
    font-size: 18px;
  }
}

 
 footer{
  padding:0;
  margin:0;
  font-size:16px;
  font-family: 'OpenSans';
 }
