*{
   background-color:rgb(167, 202, 230);
}

img{
    max-width: 15vw;/*Allazei h eikona logw autou.Alliws tha einai giati einai se pososta*/
    max-height: 15vh;
    margin: auto;/*By default to margin auto einai kai sta duo akra*/
    display: block;/*Centers the image mazi me to margin auto.Blockarei oti mpei se auth thn grammh*/
}

h1,h2{
    color:rgb(100, 100, 192);
    text-align:center;
}

/* Βασικό στυλ για όλα τα μεγέθη */

p{
    font-size:18px;
    text-align: justify;
    padding:10px;
    background:#eee;
}

/* Κινητά: κάτω από 600px */
@media (max-width: 600px) {
  p {
    font-size: 14px;
    background: #d0eaff;
  }
}

/* Tablet: 601px – 900px */
@media (min-width: 601px) and (max-width: 900px) {
  p {
    font-size: 16px;
    background: #ffe4c4;
  }
}
/* Desktop: πάνω από 900px */
@media (min-width: 901px) {
  p {
    font-size: 20px;
    background: #e6ffe6;
  }
  img{
    max-width: 25vw;
    max-height: 25vh;
  }
}

table{
    border:1px solid rgb(129, 152, 195);/*border gyrw gyrw*/
    border-collapse:collapse;/*den einai dipla ta perigrammata*/
    width:550px;/*to platos*/
    height:190px;/*to ipsos*/
    text-align: center;
    margin: auto;/*Vazei ton pinaka sthn mesh*/
}

td,th{
     border:1px solid rgb(83, 157, 185);/*Gia na mpei se ola ta kelia*/
     background-color:white;
}
